# Virtual Environment
myenv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Media
media/

# Static collected files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db